{erl_opts, [debug_info]}.
{deps, [
  {cowboy,"2.7.0"},
  {jsone,"1.5.2"}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [smartlb]}
]}.

{cover_enabled,true}.

{relx, [
  {release, {smartlb, "0.22"}, [smartlb]},
  {dev_mode, true},
  {include_erts, false},
  {include_src, true},
  {extended_start_script, true},
  
  {sys_config,"config/sys.config"},
  {vm_args, "config/vm.args"},

  {overlay, [
    {copy,"priv/lb.conf.example","lb.conf"},
    {copy,"README.md","README.md"}
  ]}
]}.

{post_hooks,[
  {ct,"rebar3 cover"}
]}.
  
{profiles, [
  {prod,
    [{relx, [
      {dev_mode, false},
      {include_erts, true},
      {include_src, false}
    ]}
  ]},


  {test,[
    {ct_opts,[
      {sys_config,["config/test.config"]}
    ]}
  ]}
]}.
  
