{erl_opts, [debug_info]}.
{deps, [
  {cowboy,"2.7.0"}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [smartlb]}
]}.

{relx, [
  {release, {smartlb, "0.1"}, [smartlb]},
  {dev_mode, false},
  {include_erts, false},
  {include_src, false},
  {extended_start_script, true},
  
  {sys_config,"config/sys.config"},
  {vm_args, "config/vm.args"},

  {overlay, [
    {copy,"priv/lb.conf.example","lb.conf"}
  ]}
]}.
