[
  {kernel, [
    {logger_level,info},
    {logger, [
      {handler,error_log,logger_disk_log_h,
        #{
          level => error,
          config => #{
            file => "log/error.log",
            max_no_files => 5,
            max_no_bytes => 10485760
          }
        }
      },

      {handler,info_log,logger_disk_log_h,
        #{
          level => info,
          config => #{
            file => "log/info.log",
            max_no_files => 5,
            max_no_bytes => 10485760
          }
        }
      }

    ]}

  ]},

  {smartlb,[
    {port,10080}
  ]}
].
