[
  {kernel, [
    {logger_level,info},
    {logger, [
      {handler,error_log,logger_disk_log_h,
        #{
          level => error,
          config => #{
            file => "log/error.log",
            max_no_files => 5,
            max_no_bytes => 10485760,
            flush_qlen => 20000,
            drop_mode_qlen => 2000,
            sync_mode_qlen => 500
          }
        }
      },

      {handler,info_log,logger_disk_log_h,
        #{
          level => info,
          config => #{
            file => "log/info.log",
            max_no_files => 5,
            max_no_bytes => 10485760,
            flush_qlen => 20000,
            drop_mode_qlen => 2000,
            sync_mode_qlen => 500
          }
        }
      }

    ]}

  ]},

  {smartlb,[
    {udp_enable,true},
    {udp_mtu,1472},
    {udp_ip,"0.0.0.0"},
    {udp_port,10070},

    {tcp_enable,true},
    {tcp_ip,"127.0.0.1"},
    {tcp_port,10080},
    {http_port,10090},

    {flow_file,"lb.conf"},
    {matcher_worker,10}
  ]}
].
